<!-- .l-header -->
<header class="l-header">
  <div class="l-header__inner">
    <div class="l-header__logo">
      <a href="<%= path%>/index.html"><img src="<%= path%>asset/img/header-logo.svg" alt="京の介護便" /></a>
    </div>
    <div class="l-header__hamburger js-hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav class="l-header__gnav js-gnav">
      <ul class="l-header__list js-gnav-list">
        <li class="l-header__item">
          <a href="<%= path%>/index.html">HOME</a>
        </li>
        <li class="l-header__item">
          <a href="https://search.rakuten.co.jp/search/mall/?sid=404432">商品一覧</a>
        </li>
        <li class="l-header__item">
          <a href="https://www.rakuten.co.jp/kyonokaigobin/info2.html">決済・配送・返品</a>
        </li>
        <li class="l-header__item">
          <a href="https://www.rakuten.co.jp/kyonokaigobin/info.html">会社概要</a>
        </li>
        <li class="l-header__item">
          <a href="https://review.rakuten.co.jp/shop/4/404432_404432/1.1/?l2-id=review_PC_il_iteminfo_07">ショップレビューを見る</a>
        </li>
        <li class="l-header__item">
          <a href="https://ask.step.rakuten.co.jp/inquiry-form/?page=simple-inquiry-top&act=login&ms=500&shop_id=404432">お問い合わせ</a>
        </li>
        <li class="l-header__item">
          <a href="https://basket.step.rakuten.co.jp/rms/mall/bs/cartempty/;jsessionid=11252309B8AD43180FEB20BBFBEEF9B5">買い物カゴ</a>
        </li>
        <li class="l-header__item">
          <a href="https://www.rakuten.co.jp/">楽天トップへ</a>
        </li>
      </ul>
    </nav>
    <div class="l-header__gnav-mask js-gnav-mask"></div>

  </div>
  <nav class="l-header__gnav--pc">
      <ul class="l-header__list--pc">
        <li class="l-header__item--pc"><a href="<%= path%>/index.html">HOME</a></li>
        <li class="l-header__item--pc"><a href="https://search.rakuten.co.jp/search/mall/?sid=404432">商品一覧</a></li>
        <li class="l-header__item--pc"><a href="https://www.rakuten.co.jp/kyonokaigobin/info2.html">決済・配送・返品</a></li>
        <li class="l-header__item--pc"><a href="https://www.rakuten.co.jp/kyonokaigobin/info.html">会社概要</a></li>
        <li class="l-header__item--pc"><a href="https://ask.step.rakuten.co.jp/inquiry-form/?page=simple-inquiry-top&act=login&ms=500&shop_id=404432">お問い合わせ</a></li>
        <li class="l-header__item--pc"><a href="https://review.rakuten.co.jp/shop/4/404432_404432/1.1/?l2-id=review_PC_il_iteminfo_07">ショップレビューを見る</a></li>
        <li class="l-header__item--pc"><a href="https://basket.step.rakuten.co.jp/rms/mall/bs/cartempty/;jsessionid=11252309B8AD43180FEB20BBFBEEF9B5">買い物カゴ</a></li>
        <div class="l-header__top-link--pc"><a href="https://www.rakuten.co.jp/"><img src="<%= path%>asset/img/rakuten-icon.svg" alt="" /></a></div>
      </ul>
  </nav>
</header>
<!-- /.l-header -->
